# Json to Pandas Data Frame

In [1]:
import pandas as pd
df = pd.read_json('output_results.json').transpose()
df.head()

                                                                          0
Activa                    [{'query': 'Activa, Ontario, Canada', 'name': ...
Alma Mechanical           [{'query': 'Alma Mechanical, Ontario, Canada',...
CCR Build + Remodel Inc.  [{'query': 'CCR Build + Remodel Inc., Ontario,...
Digreen Homes Inc.        [{'query': 'Digreen Homes Inc., Ontario, Canad...
Ecocor Construction Ltd.  [{'query': 'Ecocor Construction Ltd., Ontario,...

In [2]:
#make no index
df.reset_index(inplace=True)

# Put name in the 1st column as 'name'.
df = df.rename(columns={'index': 'name'})
print(df)

                                   name  \
0                                Activa
1                       Alma Mechanical
2              CCR Build + Remodel Inc.
3                    Digreen Homes Inc.
4              Ecocor Construction Ltd.
5                          Fusion Homes
6                  Gemini Homebuilders
7                            Great Gulf
8                       Greenpark Homes
9              Holman Construction Inc.
10        Longwood Building Corporation
11                  Menkes Developments
12                Northbear Contracting
13  Oke Woodsmith Building Systems Inc.
14               Pol Quality Homes Inc.
15                Shean Architects Inc.
16              Three Hills Engineering
17                Toronto Deck and Rail
18                               Tridel
19             Upper Canada Consultants

                                                    0
0   [{'query': 'Activa, Ontario, Canada', 'name': ...
1   [{'query': 'Alma Mechanical, Ontario, Canada',...
2   [{'query': 'CCR Build + Remodel Inc., Ontario,...
3   [{'query': 'Digreen Homes Inc., Ontario, Canad...
4   [{'query': 'Ecocor Construction Ltd., Ontario,...
5   [{'query': 'Fusion Homes, Ontario, Canada', 'n...
6   [{'query': 'Gemini Homebuilders , Ontario, Can...
7   [{'query': 'Great Gulf, Ontario, Canada', 'nam...
8   [{'query': 'Greenpark Homes, Ontario, Canada',...
9   [{'query': 'Holman Construction Inc., Ontario,...
10  [{'query': 'Longwood Building Corporation, Ont...
11  [{'query': 'Menkes Developments, Ontario, Cana...
12  [{'query': 'Northbear Contracting, Ontario, Ca...
13  [{'query': 'Oke Woodsmith Building Systems Inc...
14  [{'query': 'Pol Quality Homes Inc., Ontario, C...
15  [{'query': 'Shean Architects Inc., Ontario, Ca...
16  [{'query': 'Three Hills Engineering, Ontario, ...
17  [{'query': 'Toronto Deck and Rail, Ontario, Ca...
18  [{'query': 'Tridel, Ontario, Canada', 'name': ...
19  [{'query': 'Upper Canada Consultants, Ontario,...

In [3]:
df.columns = ['name', 'mix']
df.head()

                       name                                                mix
0                    Activa  [{'query': 'Activa, Ontario, Canada', 'name': ...
1           Alma Mechanical  [{'query': 'Alma Mechanical, Ontario, Canada',...
2  CCR Build + Remodel Inc.  [{'query': 'CCR Build + Remodel Inc., Ontario,...
3        Digreen Homes Inc.  [{'query': 'Digreen Homes Inc., Ontario, Canad...
4  Ecocor Construction Ltd.  [{'query': 'Ecocor Construction Ltd., Ontario,...

In [ ]:
import re

df['place_id_extracted'] = df['mix'].apply(lambda x: re.search(r'"place_id": (.*?) ', x).group(1) if re.search(r'"place_id": (.*?) ', x) else None)

# 結果を表示
print(df[['place_id', 'place_id_extracted']])

not working below.

In [4]:
# "place_id" 列を作成
df['place_id_extracted'] = df['mix'].apply(lambda x: x['mix']['place_id'] if isinstance(x, list) and x else None)

# 結果を表示
print(df[['place_id', 'place_id_extracted']])

TypeError: list indices must be integers or slices, not str

In [14]:
df = pd.read_json('output_results.json').transpose()

not working below.

In [15]:
import json
with open('output_results.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

d = json.loads(data.decode())
k = d['result']
l = json.dumps(k)
m = json.loads(l)
d = m['years']
for k in d:
  l = k['data']
  for m in l:
    n = json.dumps(m)
    o = json.loads(n)
    p[o['label']] = o['value']

AttributeError: 'DataFrame' object has no attribute 'decode'

# below code is working. It directly converted from 'output_results.json' to csv with readable.

In [18]:
import csv
import json


#read json file
with open('output_results.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

# wite to CSV
with open('output_results2.csv', 'w', newline='', encoding='utf-8') as csvfile:
    csv_writer = csv.writer(csvfile)

    # write header
    header_written = False
    for company_name, records in data.items():
        for record in records:
            for item in record:
                if not header_written:
                    csv_writer.writerow(item.keys())
                    header_written = True

                # write record
                csv_writer.writerow(item.values())